* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.player {
    background: linear-gradient(
        135deg,
        white,
        rgb(111, 71, 71)
    );
    padding: 20px;
    box-shadow: 0 5px 10px rgb(111, 71, 71);
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
.controls {
    display: flex;
    justify-content: space-around;
}
.controls button {
    padding: 10px;
    background: rgba(50, 50, 245, 0.525);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.progress-container {
    background: #444;
    height: 5px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.progress {
    background: #1db954;
    height: 100%;
    width: 50%;
    border-radius: 5px;
}